* {
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
}

body{

    color:rgb(27, 89, 142);
    background-color: #2AF098;   
}

.container {
    padding: 40px 0;
    display: block;
        margin: 10px 200px;

}
.form {
    font-size:16px;

}

 .container h1{
    width:150px;
    padding: 10px;
    border-bottom: 5px solid   #2c3e50; 
    margin: 40px auto;
}


input[type="checkbox"] + label span {
    display:inline-block;
    width:20px;
    height:20px;
    padding-right: 10px;
    margin:2px 10px 0 0;
    vertical-align:middle;

}

span {
    margin-left: 50px;
}
.container p{
 margin: 15px 30px;   
    
}
p .switch{
 margin:56px;   
    
}
.form-text {
    
    margin 16px 0;
    padding:0px 
    border-bottom: 1px solid #27ae60;
    
}

.text-area{
    width:50px;
    height:20px;
}


.form-btn{
    margin: 50px 0 50px 0;
    position: absolute;
    left:30%;



